.myPost {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #e6e6ff;
  text-align: left;
  width: unset;
}

.readMore {
  font-size: 12px;
  border: none;
  background: none;
  color: rgb(106, 106, 240);
}
